body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: cursive;
    background-color: #154c79;
}

.form {
    padding: 20px;
    border-radius: 10px;
    background-color: mediumpurple;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    margin-right: 50px;
    width: 300px;
}

.inputstring {
    display: block;
    height: 200px;
    width: 300px;
    align-items: center;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: black;

}

.input::placeholder {
    color: lightgray;
    font-family: cursive;
}

h2 {
    color: darkblue;
    text-align: right;
    font-size: 15px;
}

h4 {
    color: darkblue;
    font-size: 25px;
}

form .remaining {}